@model MVC_IC_Calculate.Models.Operant
@{
    ViewBag.Title = "Calculation";
}

<h2>Calculation</h2>


@using (Html.BeginForm())
{
    @Html.EditorFor(m => m.Height);
    <br />
    @Html.EditorFor(m => m.Width);
    <br />
    <input type="submit" value="Calculate" />
    <br />
    @Html.EditorFor(m => m.Area);

}